.chatList {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    flex-shrink: 0;

    .searchBar {
      flex: 1;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.418);
      gap: 20px;
      border-radius: 10px;
      padding: 5px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
        padding: 2px;
      }

      img {
        cursor: pointer;
        width: 18px;
        height: 18px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(0, 0, 0, 0.418);
      padding: 10px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .chatListItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-y: overlay;
    transition: overflow-y 0.5s;

    scrollbar-width: none; /* Firefox için */
    -ms-overflow-style: none; /* IE ve Edge için */

    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 30px;
      padding: 15px;
      border-radius: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.34);

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      &.unseen {
        background-color: rgba(255, 213, 0, 0.5);
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 200px;
        max-height: 50px;

        span {
          font-weight: 500;
        }

        p {
          font-size: 12px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.7);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .empty {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 1;
      color: white;
      padding: 20px;

      .sendEmail {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        input {
          background-color: transparent;
          background-color: rgba(0, 0, 0, 0.418);
          border: none;
          outline: none;
          color: white;
          font-size: 16px;
          border-radius: 10px;
          padding: 20px;
          width: 300px;
        }

        button {
          padding: 20px;
          background-color: rgba(9, 5, 5, 0.5);
          border: none;
          outline: none;
          border-radius: 10px;
          cursor: pointer;
          color: white;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.chatList::-webkit-scrollbar {
  display: none; /* Webkit tabanlı tarayıcılar için */
}

/* Tüm scroll barlar için genel stil */
.chatList::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.chatList::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.chatList::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

/* Modern Tarayıcılar İçin */
.chatList {
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  scrollbar-width: thin; /* Firefox için */
}
