.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  span {
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      text-decoration: underline;
      transform: scale(1.01);
      cursor: pointer;
    }
  }

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 10;
    color: white;
    padding: 20px;

    img {
      width: 200px;
      height: max-content;
      object-fit: contain;
      border-radius: 50%;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 50%;

      label {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &:hover {
          transform: scale(1.01);
        }

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          color: rgba(255, 255, 255, 0.7);
          font-size: 12px;
          text-align: center;
        }
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.6);
      }

      button {
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
        color: white;
        border-radius: 10px;
        background-color: #ec623d;
        cursor: pointer;

        &:hover {
          background-color: rgba(72, 57, 137, 0.8);
          transition: background-color 0.5s ease;
        }

        &:disabled {
          background-color: rgba(72, 57, 137, 0.3);
          cursor: not-allowed;
        }
      }
    }
  }

  .seperator {
    z-index: 30;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #8135ca;
    border-radius: 15px;
    transition: all 0.9s;

    .seperatorContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      gap: 10px;
      transform-origin: center;

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }

      h2 {
        font-size: 60px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
      }

      p {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
      }

      .description {
        font-size: 18px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        text-decoration: none;
        cursor: auto;
      }
    }

    &.loginSide {
      background-color: rgb(251, 222, 75);
      transform: translateX(100%);

      .seperatorContent {
        h2 {
          color: rgba(0, 0, 0, 0.7);
        }

        p {
          color: rgba(0, 0, 0, 0.7);
        }

        .description {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}
